.fx_r_c_c {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.fx_r_a_c {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}
.fx_r_a_s {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: flex-start;
}
.fx_r_a_e {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: flex-end;
}
.fx_r_b_c {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.fx_r_b_s {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
}
.fx_r_b_e {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-end;
}

.fx_c_c_c {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.fx_c_a_c {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
.fx_c_a_s {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: flex-start;
}
.fx_c_a_e {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: flex-end;
}
.fx_c_b_c {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}
.fx_c_b_s {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
}
.fx_c_b_e {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-end;
}
